.dialogWrapper {
    .MuiDialog-paper {
        border-radius: 10px !important;
        width: 35%;
    }
    .cancel {
        padding: 0.25rem 1rem;
        border-radius: 10px;
        color: #000;
        border: 1px solid #d3d3d3;
        &:hover {
            background-color: #fefefe;
        }
    }
    .delete {
        padding: 0.25rem 1rem;
        border-radius: 10px;
        color: #fefefe;
        background-color: #ff4500;
        border: 1px solid #ff4500;
        &:hover {
            color: #fefefe;
            background-color: #ff4500;
            border: 1px solid #ff4500;
        }
    }
    .close{
        cursor: pointer;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
}
